/* Font Family  */
/* @font-face { font-family: 'titillium'; src: url("font-family/topazianoncommercial/TopaziaNonCommercial.otf");} */
@font-face {
    font-family: 'titillium';
    src: url("font-family/Titillium_Web/TitilliumWeb-ExtraLight.ttf");
}
@font-face { font-family: 'Poppins'; src: url("font-family/Poppins/Poppins-Medium.ttf");}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
}

img {
    max-width: 100%;
}

body {
    background: linear-gradient(to bottom, #0729b3, #072bbd, #5a97bb);
    font-family: 'titillium';

}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.hero {
    position: relative;
}


video {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 800px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}
/* pagina 2 nosotros */
.template2-video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}



/* .about  */

/*/pagina 2 nosotros */
.navbar {
    padding: 12px 10px;
    display: flex;
    justify-content: center;
}

.navbar-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.navbar , .logo {
    font-family: 'titillium';
    text-decoration: none;
    font-size: 2rem;
}

.bars-responsive > i {
    display: none;
}


.title-flot  h1{
    font-family: 'titillium';
    position: absolute;
    font-size: 5em;
    top: 200px;
    left: 25%;
}

.h2-center {text-align: center;}

.box-article-about {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-article-about h3 {text-align: center;}

.articles-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.articles-info p {padding: 20px 30px;}

.box-article-about img {
    width: 30%;
}


.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul a {
    display: block;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    font-family: 'titillium';
    position: relative;
}

.navbar ul:has(a:hover) a:not(:hover) {
    filter: blur(10px);
}

.page-content {
    text-align: center;
    margin-top: 18rem;
    padding: 6% 10%;
}

.page-content .inner-content .heading {
    font-size: 16rem;
    font-family: 'titillium';
}

.page-content .inner-content p {
    font-family: 'titillium';
}

.page-content .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-content .buttons a {
    display: block;
    font-family: 'titillium';
    text-decoration: none;
    margin: 0 16px;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 13px;
    min-width: 120px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(60px);
    overflow: hidden;
    z-index: 1;
    border: 1px solid #ffffff1e;
}

.page-content .buttons a.active {
    background-color: #3fa3d1;
}

.page-content .buttons a.active:hover {
    box-shadow: 0 0 40px #3fa3d1;
}

.page-content .buttons a:nth-child(2)::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #ffffff00, #ffffff20, #ffffff00);
    z-index: -1;
}

.page-content .buttons a:nth-child(2):hover::before { 
    left: 100%;
}

.page-content .buttons a:nth-child(2):hover {
    transition-delay: .3s;
    box-shadow: 0 0 40px #3fa3d1;
    background-color: #3fa3d1;
}

.page-content .social-links {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

.page-content .social-links a {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    backdrop-filter: blur(160px);
    background: #242ff71e;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.page-content .social-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #3fa3d1;
    z-index: -1;
}

.page-content .social-links a:hover::after { 
    height: 100%;
}

.footer-responsive {
    display: grid;
    grid-template-columns: 35% 1fr 26%;
    justify-content: center;
    align-items: center;
}

.footer-responsive .social-links {
    margin-top: 0;
}

.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.column-bro {
    flex-direction: column;
}

.amigos-pendejos {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ul-amigos {
    list-style-type: none;
}

.copy {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 320px) {
    .bars-responsive {display: none;}
    .title-flot h1{font-size: 2em;}
}

@media only screen and (min-width:321px) and (max-width: 750px) {
    .bars-responsive {display: none;}
    .title-flot h1{font-size: 2em; text-align: center;}
}